/*
The styles in this stylesheet only apply to resolutions 768px and up

CALCULATING DIMENSIONS:
----------------------
The layout is fluid. The site wrapper (.col-full) has a fixed pixel max-width.
All subsequent dimensions are calculated based on that fixed pixel width, using the formula: target / context = result
Credit - http://www.alistapart.com/articles/fluidgrids/

-----
INDEX
-----

1. Global dropdown styles
2. Top Navigation
3. Main navigation dropdown menus
 -3.1 General dropdown menus
4. Containers & Columns
5. Footer widgets
6. IE Fixes

/*----------------------*/
@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(180deg);
    /* FF3.5+ */
  
    -ms-transform: rotate(180deg);
    /* IE9 */
  
    -o-transform: rotate(180deg);
    /* Opera 10.5 */
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
}
/*----------------------*/
@media only screen and (min-width: 768px) {
  /* 1. GLOBAL DROPDOWN STYLES (these are purely for the dropdown layout and you should only edit the width of the dropdowns) */
  ul.nav {
    position: relative;
    margin-bottom: 0;
    /* LEVEL 2 */
  
    /* LEVEL 3 */
  
  }
  ul.nav li {
    position: relative;
    float: left;
    zoom: 1;
    list-style: none;
  }
  ul.nav li a {
    display: block;
    padding: .53em 1em;
  }
  ul.nav li.parent > a {
    position: relative;
    padding-right: 2em!important;
  }
  ul.nav li.parent > a:after {
    content: '';
    position: absolute;
    top: .9em;
    right: 1em;
    display: block;
    width: 0;
    height: 0;
    border: 3px solid #fff;
    border-color: #fff transparent transparent transparent;
  }
  ul.nav ul {
    width: 11.089em;
    visibility: hidden;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    margin: 0;
  }
  ul.nav ul li {
    float: none;
  }
  ul.nav ul li a {
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    /* Opera/IE 8+ */
  
  }
  ul.nav ul li.parent > a:after {
    top: 1.2em;
    border-color: transparent transparent transparent #fff;
  }
  ul.nav ul ul {
    left: 100%;
    top: 0;
  }
  ul.nav li:hover > ul {
    visibility: visible;
    display: block;
  }
  /* 2. TOP NAVIGATION (Add top navigation presentational styles here) */
  #top #top-nav {
    display: block;
  }
  #top ul.nav {
    font-size: .857em;
    /* LEVEL 2 */
  
    /* LEVEL 3 */
  
  }
  #top ul.nav > li > a {
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  #top ul.nav > li > a:hover {
    background: #21364e;
    text-decoration: none;
  }
  #top ul.nav > li:hover > a {
    background: #21364e;
  }
  #top ul.nav li a {
    text-decoration: none;
  }
  #top ul.nav li.current_page_item > a,
  #top ul.nav li.current_page_parent > a,
  #top ul.nav li.current-menu-ancestor > a,
  #top ul.nav li.current-cat > a,
  #top ul.nav li.li.current-menu-item > a {
    text-decoration: underline;
  }
  #top ul.nav li.parent > a:after {
    top: 1.3em;
  }
  #top ul.nav ul {
    background: #21364e;
  }
  #top ul.nav ul li:hover > a {
    text-decoration: underline;
  }
  #top ul.nav ul li.parent > a:after {
    top: 1.1em;
  }
  /* 3. MAIN NAVIGATION DROPDOWN MENUS (Add main navigation presentational styles here) */
  #navigation {
    display: block !important;
    margin: 0.53em 0 0;
  }
  #navigation ul.nav {
    /* LEVEL 2 */
  
    /* LEVEL 3 */
  
  }
  #navigation ul.nav > li {
    margin: 0 0.53em 0 0;
  }
  #navigation ul.nav > li > a {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  #navigation ul.nav > li > a:hover {
    background: #406895;
    text-decoration: none;
  }
  #navigation ul.nav > li:hover > a {
    background: #406895;
  }
  #navigation ul.nav li a {
    padding: .236em 1em;
    text-decoration: none;
  }
  #navigation ul.nav li.current_page_item > a,
  #navigation ul.nav li.current_page_parent > a,
  #navigation ul.nav li.current-menu-ancestor > a,
  #navigation ul.nav li.current-cat > a,
  #navigation ul.nav li.li.current-menu-item > a {
    background: #385b83;
    text-decoration: none;
  }
  #navigation ul.nav ul {
    background: #406895;
    -webkit-border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    margin-top: -4px;
    padding-top: 2px;
  }
  #navigation ul.nav ul > li > a {
    font-size: 0.857em;
    padding: 0.618em 1em;
  }
  #navigation ul.nav ul > li > a:hover {
    text-decoration: none;
    background: #385b83;
  }
  #navigation ul.nav ul > li:hover > a {
    background: #385b83;
  }
  #navigation ul.nav ul ul {
    margin-top: 0;
    left: 100%;
  }
  .nav-toggle {
    display: none;
  }
  /* 4. CONTAINERS & COLUMNS */
  #header {
    padding: 3.631em 1.618em 3.631em;
  }
  #header #logo {
    margin-bottom: 0;
  }
  #header hgroup {
    float: left;
    margin: 0 1.618em 0 0;
  }
  #header hgroup h1,
  #header hgroup h2,
  #header hgroup h3 {
    float: none;
  }
  #header ul.cart li a {
    background: #4874a7;
  }
  #header #navigation {
    float: left;
    width: auto;
    clear: none;
  }
  #header #searchform {
    margin-bottom: 0;
  }
  #header .search_main {
    float: right;
    margin: 0.53em 0 0;
  }
  #featured .flexslider .slide-content {
    float: left;
    width: 48%;
  }
  #featured .flexslider .slide-media {
    float: right;
    width: 48%;
    margin: 0;
  }
  #featured .flexslider.full-width-slide .has-video .slide-media {
    float: none;
    width: 100%;
    height: auto;
  }
  #featured .flexslider .no-image.no-video .slide-content {
    width: 100%;
  }
  #featured-slider.flexslider .has-slide-background {
    position: relative;
  }
  #featured-slider.flexslider .has-slide-background .slide-background {
    z-index: 1;
  }
  #featured-slider.flexslider .has-slide-background .slide-content {
    width: 48%;
    position: absolute;
    bottom: 2em;
    left: 2em;
    padding: 1em 2em;
  }
  #main.fullwidth,
  .layout-full #main,
  .col-full {
    max-width: 75.998em;
    margin: 0 auto;
    width: 100%;
  }
  #main {
    width: 62%;
  }
  #sidebar {
    margin-top: 0;
    width: 34%;
  }
  .entry img {
    max-width: 100%;
  }
  .layout-full .entry img {
    max-width: 100%;
  }
  .layout-right-content #main {
    float: right;
  }
  .layout-right-content #sidebar {
    float: left;
  }
  .layout-full #main {
    width: 100%;
  }
  .col-left {
    float: left;
  }
  .col-right {
    float: right;
  }
  .page-template-template-contact-php .location-twitter .col-left {
    float: left;
  }
  .page-template-template-contact-php .location-twitter #office-location {
    width: 48%;
    margin: 0;
  }
  .page-template-template-contact-php .location-twitter .contact-social {
    float: right;
    width: 48%;
  }
  .page-template-template-contact-php .location-twitter .contact-social #twitter {
    margin: 0;
  }
  #connect .related-posts {
    border-top: 0;
    border-left: 1px solid #e6e6e6;
    margin-top: 0;
    padding-top: 0;
    padding-left: 1em;
  }
  #main #connect .col-left,
  #main #connect .col-right {
    width: 48%;
  }
  #post-author .profile-link {
    position: absolute;
    top: 2em;
    right: 1.618em;
    margin-top: 0;
    text-align: right;
  }
  /* Homepage Components */
  .home .features .feature,
  .home .testimonials .quote,
  .home .featured-products li.product {
    margin: 0 3.75% 2.244em 0;
    clear: none;
    width: 30.75%;
    float: left;
  }
  #sidebar .features .feature,
  #sidebar .testimonials .quote,
  #sidebar .featured-products li.product {
    margin: 0 0 2.244em 0;
    clear: both;
    width: 100%;
    float: none;
  }
  /* Comments Form */
  #respond #commentform .comment-form-author,
  #respond #commentform .comment-form-email,
  #respond #commentform .comment-form-url {
    width: 30.75%;
    float: left;
    margin-right: 3.75%;
  }
  #respond #commentform .comment-form-url {
    margin-right: 0;
  }
  /* 5. FOOTER WIDGETS */
  #footer-widgets .block {
    margin-right: 3.8%;
    float: left;
  }
  #footer-widgets.col-1 .block {
    width: 100%;
    float: none;
  }
  #footer-widgets.col-1 .footer-widget-1 {
    margin-right: 0;
  }
  #footer-widgets.col-2 .block {
    width: 48%;
  }
  #footer-widgets.col-2 .footer-widget-2 {
    margin-right: 0;
  }
  #footer-widgets.col-3 .block {
    width: 30.75%;
  }
  #footer-widgets.col-3 .footer-widget-3 {
    margin-right: 0;
  }
  #footer-widgets.col-4 .block {
    width: 22.05%;
  }
  #footer-widgets.col-4 .footer-widget-4 {
    margin-right: 0;
  }
  /* Footer Nav */
  #footer .col-right {
    float: right;
  }
  #footer .col-left {
    float: left;
  }
  #footer #credit p {
    float: right;
  }
  #footer .nav {
    float: right;
  }
  #footer .nav li a {
    margin: 0 0 0 1em;
    padding: 0;
    color: #7c7c7c;
  }
  /* 6. IE FIXES */
  .ie7 #top-nav {
    position: relative;
    z-index: 9999999;
  }
  .ie7 #header {
    position: relative;
    z-index: 9999999;
  }
}
