@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(180deg);
    /* FF3.5+ */
  
    -ms-transform: rotate(180deg);
    /* IE9 */
  
    -o-transform: rotate(180deg);
    /* Opera 10.5 */
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
}
#header .widget_product_search {
  clear: both;
}
#header .cart-contents:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  content: "\f07a";
}
.star-rating {
  float: right;
  width: 80px;
  height: 1em;
  margin-top: 1.387em;
  background: #e6e6e6;
  -webkit-border-radius: 3.631em;
  border-radius: 3.631em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  clear: both;
}
.star-rating span {
  background: #557fae;
  height: 100%;
  overflow: hidden;
  float: left;
  text-indent: -999em;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  -webkit-border-radius: 3.631em;
  border-radius: 3.631em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.star-rating span span {
  display: none;
}
p.stars {
  overflow: hidden;
  zoom: 1;
}
p.stars span {
  width: 80px;
  height: 16px;
  position: relative;
  float: left;
  background: #e6e6e6;
  -webkit-border-radius: 3.631em;
  border-radius: 3.631em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
p.stars span a {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
}
p.stars span a:hover,
p.stars span a:focus {
  background: #557fae;
  -webkit-border-radius: 3.631em;
  border-radius: 3.631em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
p.stars span a.active {
  background: #557fae;
  -webkit-border-radius: 3.631em;
  border-radius: 3.631em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
p.stars span a.star-1 {
  width: 16px;
  z-index: 10;
  -webkit-border-top-left-radius: 3.631em;
  -webkit-border-bottom-left-radius: 3.631em;
  border-top-left-radius: 3.631em;
  border-bottom-left-radius: 3.631em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
p.stars span a.star-2 {
  width: 32px;
  z-index: 9;
}
p.stars span a.star-3 {
  width: 48px;
  z-index: 8;
}
p.stars span a.star-4 {
  width: 64px;
  z-index: 7;
}
p.stars span a.star-5 {
  width: 80px;
  z-index: 6;
}
.create-account {
  clear: both;
}
.widget .product_list_widget {
  list-style: none;
}
.widget .product_list_widget li {
  border-bottom: 1px dotted #e6e6e6;
  margin: 0 0 1em;
  padding: 0 .53em 1em;
}
.widget .product_list_widget li:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.widget .product_list_widget li img {
  width: 2.618em;
  height: auto;
  float: right;
}
.widget .product_list_widget li a {
  display: block;
}
.widget .product_list_widget li:last-child {
  margin: 0;
  border: none;
}
.widget .star-rating {
  width: 60px;
  float: none;
  margin: .53em 0;
  height: .618em;
  clear: none;
}
.widget_shopping_cart dl {
  margin: 0 0 .53em;
}
.widget_shopping_cart p {
  text-align: center;
}
.widget_shopping_cart .total {
  padding: 1em 0;
  border: 1px solid #e6e6e6;
  border-width: 1px 0;
  background: #fff;
  color: #626262;
}
.widget_shopping_cart .total strong {
  font-weight: normal;
}
.widget_shopping_cart .buttons {
  margin: 0;
}
.widget_shopping_cart .buttons .button {
  margin: 0 .202em;
}
.widget_login form {
  margin: 0;
}
.widget_login label {
  display: block;
}
.widget_login input[type=text],
.widget_login input[type=password] {
  width: 100%;
}
.widget_login p {
  margin-bottom: .53em;
}
.widget_login p:nth-child(3) {
  margin: .857em 0 0;
}
.widget_login p:nth-child(3) a {
  text-transform: uppercase;
  margin-left: 1em;
  font-size: .857em;
}
.widget_layered_nav ul {
  list-style: none;
}
.widget_layered_nav ul li {
  padding: .53em 0;
}
.widget_layered_nav ul li .count {
  float: right;
  padding: 0 .857em;
  color: #fff;
  line-height: 1.5;
  background: #5381b5;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.widget_layered_nav ul li:hover .count {
  background: #ffa247;
}
.widget_layered_nav ul li.chosen a {
  background: #ffa247;
  color: #fff;
  font-weight: bold;
  padding: .382em .618em;
}
.widget_layered_nav ul li.chosen a:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  content: "\f00d";
  font-size: .875em;
}
.widget_product_categories ul {
  list-style: none;
}
.widget_product_categories ul li .count {
  float: right;
}
.widget_price_filter .price_slider {
  margin-bottom: 1em;
}
.widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.4em;
}
.widget_price_filter .price_slider_amount .button {
  float: left;
}
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  outline: none;
  background: #fff;
  border: 1px solid #557fae;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}
.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background: #557fae;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #e6e6e6;
}
.widget_price_filter .ui-slider-horizontal {
  height: 1em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}
#footer-widgets .product_list_widget {
  padding-top: .857em;
  border: 1px solid #e6e6e6;
  border-width: 1px 0;
}
#footer-widgets .product_list_widget li {
  padding-left: 0;
  padding-right: 0;
}
.woocommerce_message,
.woocommerce_info,
.woocommerce_error,
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  margin-left: 0!important;
  padding: 1em 1em 1em 2.618em;
  border: 1px solid #e6e6e6;
  position: relative;
  margin-bottom: 1.618em;
  background: #f9f9f9;
  -webkit-border-radius: 0.327em;
  border-radius: 0.327em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.03);
}
.woocommerce_message:before,
.woocommerce_info:before,
.woocommerce_error:before,
.woocommerce-message:before,
.woocommerce-error:before,
.woocommerce-info:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  position: absolute;
  top: 1em;
  left: 1em;
}
.woocommerce_message .button,
.woocommerce_info .button,
.woocommerce_error .button,
.woocommerce-message .button,
.woocommerce-error .button,
.woocommerce-info .button {
  float: right;
  font-size: .857em;
  margin-left: 1em;
  margin-top: -2px;
}
.woocommerce_message li,
.woocommerce_info li,
.woocommerce_error li,
.woocommerce-message li,
.woocommerce-error li,
.woocommerce-info li {
  list-style: none;
}
.woocommerce_message:before,
.woocommerce-message:before {
  content: "\f05d";
  color: #89b93f;
}
.woocommerce_info,
.woocommerce-info {
  clear: both;
}
.woocommerce_info:before,
.woocommerce-info:before {
  content: "\f05a";
  color: #3c8bae;
}
.woocommerce_error:before,
.woocommerce-error:before {
  content: "\f05c";
  color: #c84e45;
}
.stock.out-of-stock:before,
.stock.in-stock:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
}
.stock.out-of-stock:before {
  content: "\f05c";
  color: #c84e45;
}
.stock.in-stock:before {
  content: "\f05d";
  color: #89b93f;
}
.onsale {
  display: block;
  width: 3.631em;
  padding: .327em 0;
  text-align: center;
  background: #5381b5;
  color: #fff;
  text-transform: uppercase;
  font-size: .857em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.quantity {
  width: 3.9em;
  position: relative;
  /* Disable input[type=number] buttons until the world is ready */

}
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  display: none;
}
.quantity .qty {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  width: 2.618em;
  height: 30px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.quantity .plus,
.quantity .minus {
  width: 1.618em;
  padding: 0;
  height: 15px;
  text-align: center;
  background: #94d0e9;
  position: absolute;
  right: 0;
  border: 0;
  color: #fff;
}
.quantity .plus:hover,
.quantity .minus:hover {
  background: #6abde0;
}
.quantity .plus {
  top: 0;
  -webkit-border-top-right-radius: 0.327em;
  -webkit-border-bottom-right-radius: 0.327em;
  border-top-right-radius: 0.327em;
  border-bottom-right-radius: 0.327em;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.quantity .minus {
  bottom: 0;
  -webkit-border-top-right-radius: 0.327em;
  -webkit-border-bottom-right-radius: 0.327em;
  border-top-right-radius: 0.327em;
  border-bottom-right-radius: 0.327em;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #7fc7e5;
}
ul.products {
  clear: both;
  margin-left: 0!important;
  list-style: none;
  position: relative;
}
ul.products:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
ul.products li.product {
  width: 48%;
  float: left;
  clear: left;
  margin-bottom: 1.618em;
  position: relative;
  list-style: none;
}
ul.products li.product:nth-child(2n) {
  float: right;
  clear: none;
}
ul.products li.product h3 {
  font-weight: 700;
  font-size: 1.387em;
  line-height: 1;
  margin: 0;
}
ul.products li.product a,
ul.products li.product a:hover {
  text-decoration: none!important;
}
ul.products li.product img {
  display: block;
  height: auto;
  width: 100%;
  margin: 0 0 1em;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
ul.products li.product .onsale {
  position: absolute;
  top: .53em;
  right: .5em;
}
ul.products li.product .button {
  display: none;
  position: absolute;
  top: .618em;
  left: .618em;
}
ul.products li.product .button.loading:after {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-left: .618em;
  font-weight: normal;
  content: "\f021";
  -webkit-animation-name: spin-360;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}
ul.products li.product .button.added:after {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-left: .618em;
  font-weight: normal;
  content: "\f00c";
}
ul.products li.product:hover .button {
  display: block;
}
ul.products li.product .added_to_cart {
  position: absolute;
  top: 50%;
  right: -1px;
  background: #fff;
  padding: .5em 1em;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.woocommerce_result_count,
.woocommerce-result-count {
  margin: 0 0 .53em;
}
.pagination-wrap:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.pagination-wrap .woo-pagination {
  width: 65.4%;
  float: left;
  text-align: left;
  padding: 0;
}
.pagination-wrap .woocommerce_ordering,
.pagination-wrap .woocommerce-ordering {
  width: 30.75%;
  float: right;
  text-align: right;
}
.pagination-wrap .woocommerce_ordering select,
.pagination-wrap .woocommerce-ordering select {
  width: 100%;
}
.single-product .product {
  position: relative;
}
.single-product .product h1 {
  margin-bottom: 0;
}
.single-product .product .onsale {
  position: absolute;
  top: 20px;
  left: 20px;
}
.single-product .single_variation_wrap .price {
  display: block;
  margin: 0 0 0.53em;
  font-size: 2.224em;
  color: #626262;
}
.single-product .quantity {
  float: left;
  margin: 0 1em 0 0;
}
.single-product .images img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.single-product .thumbnails a {
  display: block;
  width: 30.75%;
  margin-right: 3.8%;
  float: left;
}
.single-product .thumbnails a.last {
  margin-right: 0;
}
.single-product .woocommerce_tabs,
.single-product .woocommerce-tabs {
  margin: 0 0 2.618em;
}
.single-product .woocommerce_tabs ul.tabs li,
.single-product .woocommerce-tabs ul.tabs li {
  margin: 0 .53em 0 0;
}
.single-product .woocommerce_tabs ul.tabs li a,
.single-product .woocommerce-tabs ul.tabs li a {
  border-right-width: 1px;
  padding: .53em .857em !important;
}
.single-product .woocommerce_tabs .panel,
.single-product .woocommerce-tabs .panel {
  padding: 1.618em;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 0 4px 4px 4px;
  -moz-border-radius: 0 4px 4px 4px;
  border-radius: 0 4px 4px 4px;
}
.single-product .variations select {
  width: 100%;
}
.shipping_calculator h2 {
  font-size: 1.387em;
}
.shipping_calculator h2 a {
  display: block;
}
.shipping_calculator h2 a:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  content: '\f0ac';
}
.shipping_calculator h2 a:hover {
  text-decoration: none;
}
a.reset_variations {
  display: none;
  position: relative;
  top: 5px;
}
a.reset_variations:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  content: "\f021";
}
.upsells .products li.product,
.related .products li.product {
  width: 30%;
}
.upsells .products li.product img,
.related .products li.product img {
  width: auto;
}
.order_details {
  list-style: none;
  border: 1px solid #e6e6e6;
  position: relative;
  margin-left: 0!important;
  -webkit-border-radius: 0.327em;
  border-radius: 0.327em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.order_details:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.order_details li {
  float: left;
  padding: 1em 1.618em;
  border-right: 1px solid #e6e6e6;
  font-size: .8em;
  text-transform: uppercase;
  color: #5381b5;
}
.order_details li strong {
  display: block;
  font-size: 1.387em;
  text-transform: none;
  color: #7c7c7c;
  font-weight: normal;
}
ul.digital-downloads li {
  list-style: none;
  margin-bottom: .618em;
  padding-bottom: .618em;
  border-bottom: 1px solid #e6e6e6;
}
ul.digital-downloads li .count {
  float: right;
}
ul.digital-downloads li a:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  content: "\f01a";
}
ul.digital-downloads li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.backorder_notification {
  font-size: .857em;
}
.backorder_notification:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  content: "\f071";
}
dl.variation {
  font-size: .857em;
}
dl.variation:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
dl.variation dt {
  float: left;
  clear: left;
  margin-right: .236em;
}
dl.variation dd {
  margin-bottom: 0;
}
table.cart .product-quantity {
  text-align: center;
}
table.cart .product-quantity .quantity {
  margin: 0 0 0 .7em;
}
table.cart .product-remove,
table.cart .product-thumbnail,
table.cart .product-price {
  display: none;
}
table.cart .actions {
  text-align: right;
}
table.cart .actions .coupon {
  margin-bottom: 1em;
}
table.cart .actions .coupon:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
table.cart .actions .coupon label {
  display: none;
}
table.cart .actions .coupon .input-text {
  width: 48%;
  float: left;
}
table.cart .actions .coupon .button {
  width: 48%;
  float: right;
}
table.cart .actions .button {
  width: 48%;
  float: left;
}
table.cart .actions .checkout-button {
  float: right;
}
table.cart #coupon_code {
  position: relative;
  top: 1px;
}
#shipping_method {
  list-style: none;
  margin: 0 !important;
}
#shipping_method li {
  list-style: none;
}
#reviews .comment {
  position: relative;
}
#reviews .comment:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
#reviews .comment img {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#reviews .comment .meta {
  margin: 0 .382em;
  font-weight: normal;
  font-style: italic;
  color: #c8c8c8;
}
#reviews .comment .star-rating {
  margin: 0;
  position: absolute;
  top: 30px;
  right: 20px;
}
#reviews .add_review {
  clear: both;
}
#payment {
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 0.327em;
  border-radius: 0.327em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#payment:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
#payment .payment_methods {
  margin: 0 !important;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 !important;
}
#payment .payment_methods li {
  list-style: none !important;
  padding: 1em !important;
  border-bottom: 1px solid #e6e6e6;
  margin-left: 0;
}
#payment .payment_methods li img {
  float: right;
  border: 0;
  padding: 0;
}
#payment .payment_methods li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
#payment .payment_methods li label {
  width: 92%;
  padding-top: 0 !important;
  margin-left: .618em;
  font-weight: bold;
}
#payment .payment_methods li p {
  margin-bottom: 0;
}
#payment .payment_methods li .payment_box {
  padding: 1em;
  margin: 1em -1em -1em -1em;
  background-color: #f9f9f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #f9f9f9, #f5f5f5);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #f9f9f9, #f5f5f5);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #f9f9f9, #f5f5f5);
  /* IE10 */

  background-image: -o-linear-gradient(top, #f9f9f9, #f5f5f5);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #f9f9f9, #f5f5f5);
  border-top: 1px solid #e6e6e6;
}
#payment .payment_methods li .payment_box fieldset {
  border: 0;
  margin: 0;
  padding: 1em 0 0 0;
  font-size: .857em;
}
#payment .payment_methods li .payment_box fieldset label {
  width: auto;
  margin-left: 0;
}
#payment .payment_methods li .payment_box fieldset .form-row {
  margin-bottom: 1em;
}
#payment .payment_methods li .payment_box fieldset .form-row-first select {
  width: 48%;
}
#payment .payment_methods li .payment_box fieldset .form-row-first select:nth-child(2n) {
  float: right;
}
#payment .payment_methods li .payment_box fieldset #cvv {
  width: 22% !important;
}
#payment .payment_methods li .payment_box fieldset .help {
  width: 75%;
  float: right;
}
#payment .terms label {
  display: inline;
}
#payment .place-order {
  padding: 1em;
  margin-bottom: 0;
  float: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
#payment .place-order .button {
  font-size: 1.387em;
  width: 100%;
}
.form-row label {
  display: block;
}
.form-row input,
.form-row textarea {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  #header .widget_product_search {
    float: right;
    clear: none;
  }
  .col2-set {
    clear: both;
  }
  .col2-set:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .col2-set .col-1 {
    width: 48%;
    float: left;
  }
  .col2-set .col-2 {
    width: 48%;
    float: right;
  }
  .form-row {
    width: 48%;
    float: left;
    margin-bottom: 2.053em;
  }
  .form-row label {
    padding: .236em 0;
  }
  .form-row label.checkbox {
    display: inline;
  }
  .form-row .input-text,
  .form-row select {
    width: 100%;
    *width: 90%;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    /* Opera/IE 8+ */
  
  }
  .form-row.notes {
    width: 100%;
    float: none;
  }
  .form-row.notes textarea {
    width: 100%;
    *width: 90%;
  }
  .form-row.notes + h3 {
    clear: both;
  }
  .form-row-first {
    clear: left;
  }
  .form-row-last {
    float: right;
  }
  .form-row-wide {
    float: left;
    width: 100%;
    clear: both;
  }
  header.title {
    overflow: hidden;
    zoom: 1;
  }
  header.title h1,
  header.title h2,
  header.title h3,
  header.title h4,
  header.title h5 {
    float: left;
  }
  header.title a.edit {
    float: right;
    font-weight: bold;
    line-height: 2.4em;
  }
  header.title a.edit:before {
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 100%;
    margin-right: .618em;
    font-weight: normal;
    content: "\f044";
  }
  .woocommerce_result_count,
  .woocommerce-result-count {
    float: left;
    margin: 0 0 1.618em;
  }
  .woocommerce_ordering,
  .woocommerce-ordering {
    float: right;
  }
  ul.products li.product {
    margin-right: 3.8%;
    clear: none;
  }
  ul.products li.product:nth-child(2n) {
    float: left;
  }
  ul.products li.product.first {
    clear: both;
  }
  ul.products li.product.last {
    margin-right: 0;
  }
  .woocommerce-columns-2 ul.products li.product {
    width: 48%;
  }
  .woocommerce-columns-3 ul.products li.product {
    width: 30.75%;
  }
  .woocommerce-columns-4 ul.products li.product {
    width: 22.05%;
  }
  .woocommerce-columns-5 ul.products li.product {
    width: 16.96%;
  }
  .single-product .images,
  .single-product .summary {
    width: 48%;
    margin-bottom: 1.618em;
  }
  .single-product .images {
    float: left;
  }
  .single-product .summary {
    float: right;
  }
  table.cart .product-remove,
  table.cart .product-thumbnail,
  table.cart .product-price {
    display: table-cell;
  }
  .cart-collaterals:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cart-collaterals .cross-sells,
  .cart-collaterals .cart_totals,
  .cart-collaterals .shipping_calculator {
    width: 48%;
  }
  .cart-collaterals .cross-sells {
    float: left;
  }
  .cart-collaterals .cart_totals,
  .cart-collaterals .shipping_calculator {
    float: right;
    clear: right;
  }
  .cart-collaterals .shipping_calculator .shipping-calculator-form:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cart-collaterals .shipping_calculator .clear {
    clear: both;
  }
  #customer_details .col-1,
  #customer_details .col-2 {
    float: none;
    width: 100%;
  }
  #customer_details .col-1:after,
  #customer_details .col-2:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  #customer_details #shiptobilling {
    float: none;
    width: 100%;
  }
  #customer_details .notes {
    clear: both;
  }
}
